name: Build .NET App

on:
  push:
    branches: [ "main", "master", "feature/**" ]
  pull_request:
    branches: [ "main", "master" ]

  workflow_dispatch:

jobs:
  build:
    name: Build Solution
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore ./ProductService/ProductService.sln

    - name: Build
      run: dotnet build ./ProductService/ProductService.sln --configuration Release --no-restore